@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}


/* SIDEBAR */
#sidebar {
	font-family: var(--lato);
	max-width: 280px;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background: var(--light);
	position: fixed;
	top: 0;
	left: 0;
	scrollbar-width: none;
	z-index: 1000;
	transition: .3s ease;
}
#sidebar.hide {
	max-width: calc((56px - 8px) + ((4px + 6px) * 2));
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar .logo {
	font-size: 20px;
	color: var(--blue);
	font-weight: 700;
	text-align: center;
	width: 100%;
	height: calc(56px + 24px);
	background: var(--light);
	line-height: 56px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	white-space: nowrap;
}
#sidebar.hide .logo {
	justify-content: flex-start;
}
#sidebar .logo .icon {
	font-size: 30px;
	min-width: calc((56px - 8px) + ((4px + 6px) * 2));
}
#sidebar .side-menu {
	margin-top: 56px;
}
#sidebar .side-menu li {
	margin-left: 6px;
	height: 56px;
	padding: 4px;
	border-radius: 36px 0 0 36px;
	position: relative;
	background: var(--light);
}
#sidebar .side-menu li.active {
	background: var(--grey);
}
#sidebar .side-menu li a {
	white-space: nowrap;
	height: 100%;
	width: 100%;
	display: flex;
	grid-gap: calc(4px + 6px);
	background: var(--light);
	border-radius: 36px;
	align-items: center;
	color: var(--dark);
	font-size: 18px;
	font-weight: 500;
	max-width: 100%;
	transition: .3s ease;
	overflow: hidden;
}
#sidebar.hide .side-menu li a {
	max-width: calc(56px - 8px);
}
#sidebar .side-menu li a .icon {
	min-width: calc(56px - 8px);	
	display: flex;
	justify-content: center;
	align-items: center;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu li > span {
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	background: var(--grey);
	display: none;
	z-index: 100;
	pointer-events: none;
}
#sidebar .side-menu li.active > span {
	display: block;
}
#sidebar .side-menu li > span.top {
	top: -24px;
}
#sidebar .side-menu li > span.bottom {
	bottom: -24px;
}
#sidebar .side-menu li > span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	display: block;
}
#sidebar .side-menu li > span.top::before {
	border-radius: 0 0 24px 0;
}
#sidebar .side-menu li > span.bottom::before {
	border-radius: 0 24px 0 0;
}
/* SIDEBAR */








/* CONTENT */
#sidebar.hide ~ #content {
	width: calc(100% - ((56px - 8px) + ((4px + 6px) * 2)));
	left: calc((56px - 8px) + ((4px + 6px) * 2));
}
#content {
	width: calc(100% - 280px);
	position: relative;
	left: 280px;
	z-index: 500;
	transition: .3s ease;
}
#content nav .curve {
	position: absolute;
	bottom: -24px;
	left: 0;
	width: 24px;
	height: 24px;
	background: var(--light);
	display: block;
	z-index: 1000;
}
#content nav .curve::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 24px 0 0 0;
	background: var(--grey);
}
#content nav {
	width: 100%;
	height: 56px;
	background: var(--light);
	display: flex;
	font-family: var(--lato);
	padding: 0 36px;
	align-items: center;
	grid-gap: 36px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
}
#content nav .menu-bar {
	display: flex;
	align-items: center;
	cursor: pointer;
}
#content nav a {
	color: var(--dark);
}
#content nav form {
	max-width: 420px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	position: relative;
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	height: 100%;
	flex: 1;
	border-radius: 32px 0 0 32px;
	background: var(--grey);
	border: none;
	padding: 0 16px;
	outline: none;
}
#content nav form .form-input .search-icon {
	background: var(--blue);
	height: 100%;
	border-radius: 0 32px 32px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	width: 48px;
}
#content nav .notification {
	font-size: 22px;
	position: relative;
}
#content nav .notification .num {
	width: 20px;
	height: 20px;
	background: var(--red);
	border: 2px solid var(--light);
	font-size: 10px;
	color: var(--light);
	font-weight: 700;
	position: absolute;
	top: -6px;
	right: -6px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
#content nav .profile {
	padding: 0 16px;
	height: 100%;
	transition: .3s ease;
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content nav .profile:hover {
	background: var(--grey);
}
#content nav .profile .name {
	font-size: 16px;
	font-weight: 700;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

#content main {
	font-family: var(--poppins);
	width: 100%;
	position: relative;
	padding: 24px 36px;
	color: var(--dark);
}
#content main .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	grid-gap: 20px;
}
#content main .top h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
}
#content main .top .breadcrumb {
	display: flex;
	grid-gap: 16px;
}
#content main .top .breadcrumb a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .top .breadcrumb a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .top .btn-download {
	height: 48px;
	border-radius: 48px;
	background: var(--blue);
	color: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 16px;
	font-size: 16px;
	font-weight: 500;
}
#content main .top .btn-download .icon {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#content main .box-info {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 36px;
}
#content main .box-info .box {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	grid-gap: 32px;
	align-items: center;
	flex-wrap: wrap;
}
#content main .box-info .box .icon {
	display: flex;
	min-width: 100px;
	height: 100px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background: var(--grey);
	font-size: 48px;
}
#content main .box-info .box .text h3 {
	font-size: 28px;
	margin-bottom: 4px;
	font-weight: 600;
}
#content main .box-info .box .text p {
	font-size: 16px;
}


#content main .box-info .box:nth-child(1) .icon {
	color: var(--blue);
	background: var(--light-blue);
}
#content main .box-info .box:nth-child(2) .icon {
	color: var(--yellow);
	background: var(--light-yellow);
}
#content main .box-info .box:nth-child(3) .icon {
	color: var(--orange);
	background: var(--light-orange);
}

#content main .table-data {
	display: flex;
	grid-gap: 36px;
	margin-top: 36px;
	flex-wrap: wrap;
}
#content main .table-data > div {
	padding: 24px;
	border-radius: 20px;
	background: var(--light);
	overflow-x: auto;
}
#content main .table-data .order {
	flex-basis: 500px;
	flex-grow: 1;
}
#content main .table-data .todo .head,
#content main .table-data .order .head {
	display: flex;
	align-items: center;
	grid-gap: 24px;
	margin-bottom: 36px;
	min-width: 340px;
}
#content main .table-data .todo .head h3,
#content main .table-data .order .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
	min-width: 520px;
}
#content main .table-data .order table th {
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table th:nth-child(1) {
	padding-left: 10px;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table td {
	padding: 6px 0;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content main .table-data .order table tr td:nth-child(1) {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	padding-left: 10px;
}
#content main .table-data .order table tr td .badge {
	font-size: 10px;
	font-weight: 600;
	height: 24px;
	line-height: 24px;
	padding: 0 16px;
	border-radius: 24px;
	color: var(--light);
	display: inline-block;
}
#content main .table-data .order table tr td .badge.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .badge.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .badge.pending {
	background: var(--orange);
}

#content main .table-data .todo {
	flex-basis: 360px;
	flex-grow: 1;
}
#content main .table-data .todo .todos {
	min-width: 520px;
}
#content main .table-data .todo .todos li {
	border-radius: 10px;
	background: var(--grey);
	padding: 16px 24px;
	margin: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
}
#content main .table-data .todo .todos li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todos li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todos li .menu {
	cursor: pointer;
}
/* CONTENT */




@media screen and (max-width: 576px) {
	#content nav .link-nav {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}
}





@media screen and (max-width: 991px) {
	#content nav form .form-input input {
		display: none;
	}
	#content nav form .form-input .search-icon {
		background: var(--light);
		color: var(--dark);
	}
	#content nav .profile .name {
		display: none;
	}

	#content nav {
		padding: 0 24px;
		grid-gap: 16px;
	}

	#content main {
		padding: 24px 24px;
	}
}




@media screen and (max-width: 1200px) {
	#content {
		width: calc(100% - ((56px - 8px) + ((4px + 6px) * 2)));
	}
}